body {
  background-color:#262626;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width: 100%;      /* Make the image take up the full width of its parent */
  height: 100%;     /* Make the image take up the full height of its parent */
  object-fit: cover; /* Ensures the image covers the entire div */
  border-radius: inherit; /* Inherits the border-radius of the parent div */
}