@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes toggleOn{
    0%{
      transform: translateX(0);
    }
    100%{
      transform: translateX(40px);
    }
  }
  
  @keyframes toggleOff {
    0%{
      transform: translateX(40px);
    }
    100%{
      transform: translateX(0);
    }
  }


  .stats-container {
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .fade-in {
    opacity: 1;
    transform: translateY(0);
  }
  
  .fade-out {
    opacity: 0;
    transform: translateY(-20px); /* Slight upward animation */
  }